<h2><%= t('cart.msg') %></h2>
<table width="90%" align="center">
  <thead>
    <tr>
      <th align="center"><%= t('cartline.quantity') %></th>
      <th align="left"><%= t('cartline.item') %></th>
      <th align="right"><%= t('cartline.price') %></th>
      <th align="right"><%= t('cartline.subtotal') %></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cartlines.each do |line| %>
      <% product = Product.find(line.productID) %>
      <tr>
        <td align="center"><%= line.quantity %></td>
        <td align="left"><%= product.name %></td>
        <td align="right"><%= number_to_currency product.price, :unit => t('general.currency') %></td>
        <td align="right"><%= number_to_currency(line.quantity * product.price, :unit => t('general.currency')) %></td>
        <td>
          <%= form_tag(cart_remove_path(:id => product.productID)) do %>
            <%= hidden_field_tag 'returnUrl', @returnUrl %>
            <%= submit_tag t('cartline.remove'), :class => 'actionButtons' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" align="right"><%= t('cartline.total') %></td>
      <td align="right">
        <%= number_to_currency @cart.compute_total_value, :unit => t('general.currency') %>
      </td>
    </tr>
  </tfoot>
</table>
<p align="center" class="actionButtons">
  <%= link_to t('cartline.continue_shopping'), @returnUrl %>
  <%= link_to t('cartline.checkoutnow'), cart_checkout_path %>
</p>
