<h2><%= t('checkout.header') %></h2>
<% if @cartempty.present? %>
  <p class="form_error"><%= @cartempty %></p>
<% end %>

<%= form_for(cart_checkout_path) do %>
  <h3><%= t('shinfo.header') %></h3>
  
  <table>
    <tr>
      <td><%= label_tag :name, t('shinfo.name'), :class => 'editor-label' %></td>
      <td>
        <%= text_field_tag :name, @shippingdetails.name %>
        <%= @shippingdetails.show_error(:name) %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :email, t('shinfo.email'), :class => 'editor-label' %></td>
      <td>
        <%= email_field_tag :email, @shippingdetails.email, :size => 40 %>
        <%= @shippingdetails.show_error(:email) %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :line1, t('shinfo.address.line1'), :class => 'editor-label' %></td>
      <td>
        <%= text_field_tag :line1, @shippingdetails.line1 %>
        <%= @shippingdetails.show_error(:line1) %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :line2, t('shinfo.address.line2'), :class => 'editor-label' %></td>
      <td><%= text_field_tag :line2, @shippingdetails.line2 %></td>
    </tr>
    <tr>
      <td><%= label_tag :line3, t('shinfo.address.line3'), :class => 'editor-label' %></td>
      <td><%= text_field_tag :line3, @shippingdetails.line3 %></td>
    </tr>
    <tr>
      <td><%= label_tag :city, t('shinfo.address.city'), :class => 'editor-label' %></td>
      <td>
        <%= text_field_tag :city, @shippingdetails.city %>
        <%= @shippingdetails.show_error(:city) %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :state, t('shinfo.address.state'), :class => 'editor-label' %></td>
      <td>
        <%= text_field_tag :state, @shippingdetails.state %>
        <%= @shippingdetails.show_error(:state) %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :zip, t('shinfo.address.zip'), :class => 'editor-label' %></td>
      <td><%= text_field_tag :zip, @shippingdetails.zip %></td>
    </tr>
    <tr>
      <td><%= label_tag :country, t('shinfo.address.country'), :class => 'editor-label' %></td>
      <td>
        <%= text_field_tag :country, @shippingdetails.country %>
        <%= @shippingdetails.show_error(:country) %>
      </td>
    </tr>
  </table>
  
  <h3><%= t('general.options') %></h3>
  <label>
    <%= check_box_tag :giftwrap, '1', @shippingdetails.giftwrap %>
    <%= label_tag :giftwrap, t('shinfo.giftwrap') %>
  </label>
  
  <p align="center">
    <%= submit_tag t('shinfo.complete_order'), :class => 'actionButtons' %>
  </p>
<% end %>
