<% @products.each do |p| %>
  <div class="item">
    <% if p.imagemimetype.present? %>
      <div style="float: left; margin-right: 20px">
        <%= image_tag image_path(:id => p.productID), { :width => 75, :height => 75 } %>
      </div>
    <% end %>
    <h3><%= p.name %></h3>
    <%= p.description %>
    <%= form_tag(cart_add_path(:id => p.productID)) do %>
      <%= hidden_field_tag 'returnUrl', request_path %>
      <%= submit_tag t('cart.add_to_cart') %>
    <% end %>
    <h4><%= number_to_currency p.price, :unit => t('general.currency') %></h4>
  </div>
<% end %>
<div class="pager">
  <% (1...@pager.total_pages).each do |p| %>
    <% opt = {} %>
    <% opt[:class] = 'selected' if p == @pager.pagenum %>
    <% if @category.blank? %>
      <%= link_to p, product_paged_path(:page => p), opt %>
    <% else %>
      <%= link_to p, category_paged_path(:category => @category, :page => p), opt %>
    <% end %>
  <% end %>
</div>
