<% @title = t('login.title') %>
<h1><%= t('login.header') %></h1>

<p><%= t('login.msg') %></p>

<%= content_tag :div, notice, :class => 'notice' if notice.present? %>
<%= content_tag :div, alert, :class => 'errorblock' if alert.present? %>

<%= form_tag(admin_auth_path) do %>
  <%= label_tag :username, t('login.username'), :class => 'editor-label' %><br />
  <%= text_field_tag :username, nil, :class => 'text-box' %><br />
  <%= label_tag :password, t('login.password'), :class => 'editor-label' %><br />
  <%= password_field_tag :password, nil, :class => 'text-box' %><br />
  <p>
    <%= submit_tag t('login.submit') %>
  </p>
<% end %>
